# huggingface
transformers>=4.31.0
datasets
accelerate
optimum
peft

appdirs
loralib
scipy
py7zr  # 圧縮解凍library
bitsandbytes
fire  # argparser

# formatter & linter
black
flake8

# tokenizer
sentencepiece

# logging
wandb

lion_pytorch